# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Generated key pairs
issuer/issuer_keys/
wallet/device_keys/
verifier/verifier_keys/
attacker/attacker_keys/

#issued credentials
data/issued_credentials/
wallet/storage/credentials/
data/presentations/
